body{
    background-color: #f8f8f8;
}
.book-library{
    background-color: #ffffff;
}
.price-block{
    text-align: center;
    background-color: #2ecc71;
    width: 100vw;
}
.author{
    color: #777777;
}
h1{
    text-align: center;
}
div{
    justify-items: center;
    h3, p{
        width: 90vw;
    }
}
.book{
    margin: 20px;
}
